body {
  margin: 150px auto;
  max-width: 1000px;
  background: #d3d3d3;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin: 20px auto;
    padding: 50px 40px;
    font-size: 20px;
}

img {
    display: block;
    margin: auto;
}